    <h2>GAPD view</h2>
    <p>These properties are those listed in the <a href="http://pid.geoscience.gov.au/def/ont/gapd">GAPD Model</a> of a Survey.</p>
    <table class="lined">
        <tr><th>Property</th><th>Value</th></tr>
        <tr><th>ID</th><td>{{ survey_id }}</td></tr>
        <tr><th>Name</th><td>{{ survey_name }}</td></tr>
        <tr><th>State</th><td>{{ state }}</td></tr>
        <tr>
            <th>
                Agents:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Contractor<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Operator<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Processor<br />
            </th>
            <td>
                <br />
                {{ contractor }}<br />
                {{ operator }}<br />
                {{ processor }}<br />
            </td>
        </tr>
        <tr><th>survey_type</th><td>{{ survey_type }}</td></tr>
        <tr><th>data_types</th><td>{{ data_types }}</td></tr>
        <tr>
            <th>
                Vessel:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Type<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Name
            </th>
            <td>
                <br />
                {{ vessel_type }}<br />
                {{ vessel }}
            </td>
        </tr>
        <tr><th>release_date</th><td>{{ release_date }}</td></tr>
        <tr><th>onshore_offshore</th><td>{{ onshore_offshore }}</td></tr>
        <tr>
            <th>
                Dates:<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Start<br />
            &nbsp;&nbsp;&nbsp;&nbsp;End
            </th>
            <td>
                <br />
                {{ start_date }}<br />
                {{ end_date }}
            </td>
        </tr>
        <tr><th>Bounding Box</th><td>{{ wkt_polygon }}</td></tr>

        <tr><th>crystal_volume</th><td>{{ crystal_volume }}</td></tr>
        <tr><th>up_crystal_volume</th><td>{{ up_crystal_volume }}</td></tr>
        <tr><th>digital_data</th><td>{{ digital_data }}</td></tr>
        <tr><th>geodetic_datum</th><td>{{ geodetic_datum }}</td></tr>
        <tr><th>asl</th><td>{{ asl }}</td></tr>
        <tr><th>agl</th><td>{{ agl }}</td></tr>
        <tr>
            <th>
                Instruments:<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Magnetics<br />
                &nbsp;&nbsp;&nbsp;&nbsp;Radiation<br />
            </th>
            <td>
                <br />
                {{ mag_instrument }}<br />
                {{ rad_instrument }}<br />
            </td>
        </tr>
        <tr><th>Has Provenance</th><td><a href="{{ request.base_url }}?_view=prov">{{ request.base_url }}?_view=prov</a></td></tr>
    </table>