{% extends "layout.html" %}

{% block content %}
    <h1>Survey</h1>
    {{ view_html|safe }}

    <h2>Other views</h2>
    <p>Other model views of a Survey are listed in the <a href="{{ url_for('model_classes.survey', survey_id=survey_id) }}?_view=alternates">Alternates View</a>.</p>

    <h2>Citation</h2>
    <p>If you wish to cite this survey as you would a publication, please use the following format:</p>
    <code style="display:block; margin: 0 5em 0 5em;">
        Geoscience Australia ({{ end_date.strftime('%Y') }}) "Survey {{ survey_id }}". {{ survey_type }} geophysical data collection survey. Geoscience Australia. Accessed {{ date_now }}. <a href="http://pid.geoscience.gov.au/survey/{{ survey_id }}">http://pid.geoscience.gov.au/survey/{{ survey_id }}</a>
    </code>

{% endblock %}