{% extends "layout.html" %}

{% block content %}

<h1>About the Surveys Linked Data API</h1>
<p>This <a href="https://en.wikipedia.org/wiki/Application_programming_interface">Application Programming Interface</a> (API) is designed to provide access to GA's Surveys Database known as ARGUS. GA has hundreds of surveys that have been stored over many years.</p>
<p>This API is a <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Data</a> API in that it provides information about Surveys and the list of Surveys (the Survey Register) according to Linked Data principles. These include the principles that data items should be identified with persistent <a href="https://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URI</a>s and that information should be provided in both human-redable and machine-readable formats. To these ends, this Linked Data API resolves URIs for Surveys of the following form: <code>http://pid.geoscience.gov.au/survey/{IGSN}</code> where GA's base persistent URI is used (<code>http://pid.geoscience.gov.au</code>), the <code>survey</code> class of item is indicated and the individual survey is identified by its survey ID.</p>

<p>This API uses the generic GA Linked Data API to handle the model views and formats of objects. <em>A link to this generic API will be given here soon!</em></p>

<h2>Contact</h2>
<p>To contact the people who built and maintain this API, please email <code>dataman@ga.gov.au</code>.</p>

{% endblock %}
